@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.glow:hover {
  box-shadow: 0 0 30px 10px rgba(218, 40, 167, 0.4);
}

.trans {
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(225, 225, 225, 0)); */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
}