@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
 background-color: black;
}

.glow:hover {
  box-shadow: 0 0 30px 10px rgba(218, 40, 167, 0.4);
}

.pglow {
  box-shadow: 0px 0 30px 10px rgba(255, 255, 255, 0.4);
}

.wtrans {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.ptrans {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.trans {
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(225, 225, 225, 0)); */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
}

.divider {
  height: 1px;
  width: 100px;
  background-color: transparent;
  margin: auto;
}
