@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Liberty";
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf');
}

* {
  margin: 0px;
  padding: 0px;
}

.paper{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  overflow-x: hidden;
}

.glow:hover {
  box-shadow: 0 0 30px 10px rgba(51, 48, 54, 0.4);
}

.pglow {
  box-shadow: 0px 0 30px 10px rgba(255, 255, 255, 0.4);
}

.wtrans {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.ptrans {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.neontext {
  font-family: 'Liberty';
}

.trans {
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(225, 225, 225, 0)); */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
}

.projecttrans{
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.divider {
  height: 1px;
  width: 100px;
  background-color: transparent;
  margin: auto;
}

.image::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, black);
  opacity: 0.9;
  z-index: 2;
  height: 40%;
  width: 100%;
  bottom: 0;
  left: 0;
}
